body {
    background-image: url(https://s2.glbimg.com/JHrPiU72WMoOOlJHDUJYf9OHzfQ=/e.glbimg.com/og/ed/f/original/2022/06/07/chicken-4849979_1920.jpg);
    background-position: center;
    background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

  h5 {
    margin: 0;
    color: #fff;
  }
  
  h5 a {
    text-decoration: none;
    color: #f8c71d;
  }
  
  button {
    width: 244px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0ad4e;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid #790703;
  }
   
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #790703;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #ec971f;
  }
  .titulo {
      color: #b41d1d;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 10px;
  }
  
  .titulo2 {
      color: #b41d1d;
      margin-bottom: 5px;
      left: 0;
  }
  
  .digitar {
      color: #000;
      text-align: center;
      height: 30px;
      width: 500px;
      margin-bottom: 10px;
      border-radius: 5px;
  }
  
 

.nome-empresa .aEmpresa{
    font-size: 40px;
    margin-left: 20px;
    position: absolute;
    top: 20px;
    left: 100px;
    margin-top: 0px;
    color: #f8c71d;
    text-decoration: none; 
    font-weight: 600;
}

.nav-container {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 15px;
  }
  
  .nav-container .nav-link {
    color: #f8c71d;
    font-weight: bold;
    text-decoration: none;
    margin-top: 40px;
    padding: 15px 25px;
    margin-right: 10px;
    font-size: 25px;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logo img {
    width: 80px;
    height: auto;
  }
    
  .nav-link:hover {
    transition: 0.4s;
    color: #eb9065;
  }
